#domain-container {
    background-color: white;
    border: 1px #5C5C5C solid;
    margin-top: 200px;
    max-width: 900px;
    border-radius: 5px;
    height: 100%;
}

#domain-status {
    margin-top: 10px;
    margin-bottom: 10px;
}

#domain-list {
    margin-top: 20px;
    margin-bottom: 20px;  
}

.searched-domain {
    font-size: 25px;
    font-weight: bold;
}

.btn-space {
    margin-left: 10px;
}

.domain-name {
    font-size: 16px;
    font-weight: bold;
}

.domain-price {
    font-size: 16px;
    font-weight: bold;
}

.domain-row {
    margin-top: 10px;
}

.back-button {
    background-color: blue;
    color: white;
    border-radius: 5px;
    width: 80px;
}

.back-button:hover {
    background-color: rgb(1, 1, 209);
    font-weight: bold;
}

.pay-button {
    background-color: blue;
    color: white;
    width: 80px;
    border-radius: 5px;
}

.pay-button:hover {
    background-color: rgb(1, 1, 209);
    font-weight: bold;
}

.summary {
    height: 430px;
}

.add-button {
    background-color: rgb(53, 126, 199);
    color: white;
    border-radius: 5px;
    width: 80px;
}

.add-button:hover {
    background-color: rgb(47, 113, 179);
    font-weight: bold;
}

.period-button {
    background-color: rgb(53, 126, 199);
    color: white;
    border-radius: 5px;
    width: 80px;
}

.period-button:hover {
    background-color: rgb(47, 113, 179);
    font-weight: bold;
}

.summary-title {
    font-size: 26px;
}

#searched-domain-selection {
    margin-top: 10px;
    margin-bottom: 10px;
}

.summary {
    height: 500px;
}

.right-container {
    border-radius: 0px 5px 5px 0px;
    border: 1px solid black;
}

.left-container {
    border-radius: 5px 0px 0px 5px;
    border: 1px solid black;
}