/* Navbar style */

/* Container layout & style */
.main-container {
    height: 100vh;
}

.sub-container {
    height: 100vh;
    overflow: auto;
}

.container-sm {
    max-width: 1000px;
}

.progress_bar_container {
    margin-top: 100px;
    /* height changer */
    padding: 0px;
}

.back_container {
    margin-top: 80px;
    /* height changer */
    padding: 0px;
}

.content_container {
    margin-top: 5px;
    /* height changer */
}

.right_container {
    border: 1px solid #dee2e6;
    border-radius: 5px;
    width: 300px;
    min-height: 500px;
}

.right_container_content {
    padding-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
}

.left_container {
    border: 1px solid #dee2e6;
    border-radius: 5px;
    width: 700px;
    min-height: 500px;
}

.left_container_content {
    padding-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
}