#domain-container {
    background-color: white;
    border: 1px #5C5C5C solid;
    margin-top: 200px;
    max-width: 900px;
    border-radius: 5px;
    height: 100%;
}

#domain-status {
    margin-top: 10px;
    margin-bottom: 10px;
}

#domain-list {
    margin-top: 10px;
    margin-bottom: 10px;  
}

.searched-domain {
    font-size: 25px;
    font-weight: bold;
}

.btn-space {
    margin-left: 10px;
}

#domain-summary {
    height: 500px;
}

.domain-name {
    font-size: 16px;
    font-weight: bold;
}

.domain-price {
    font-size: 16px;
    font-weight: bold;
}

.domain-row {
    margin-top: 10px;
}

.nav-button {
    border-radius: 5px;
}

.summary {
    height: 430px;
}

.nav-href {
    text-decoration: none;
}