body {
    background-image: url(/images/space-1164579_1920.png);
}

.progress {
    /*background-color: rgba(180, 176, 176, 0.137); might use it*/
    background-color: white;
    border: 1px solid gray;
    margin-bottom: 25px;
}

.test-box {
    /*background-color: rgba(180, 176, 176, 0.137); might use it*/
    background-color: white;
    border: 1px solid gray;
    border-radius: 5px;
}

.summary-box {
    /*background-color: rgba(180, 176, 176, 0.137); might use it*/
    background-color: white;
    border: 1px solid gray;
    border-radius: 5px;
}

.domain-container {
    margin-top: 300px;
}

